<div class="w-100 title-dialog">
  <H2>Ajouter un client</H2>
  <hr>
</div>


<div mat-dialog-content class="dialog-user" style="width: 600px;">

  <div class="row">
    <div class="col">
      <label for="">Select pre-contrat</label>
        <select name="precontrat" class="form-control" [(ngModel)]="precontrat">
          <option [value]="i.id" *ngFor="let i of precontratAll">{{i.prospect.numeroTelephone}}</option>
        </select>
    </div>
  </div>
  <div class="row dialog-action">
      <button mat-raised-button class="btn-save btn-dialog-action" (click)="submit()"  color="primary">Ajout</button>
      <button mat-raised-button class="btn-cancel btn-dialog-action" color="warn" mat-dialog-close>Annuler</button>
  </div>
</div>
